<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'paper_dashboard/templatebase.html' %}
{% load static %}

  {% block mainTitle %}
    Control
  {% endblock %}

  {% block sidebar %}
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="{% url 'mainpage' %}">
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="{% url 'condition' %}">
          <!--<i class="nc-icon nc-diamond"></i>-->
          <p>&emsp;&emsp;Codition</p>
        </a>
      </li>
      <li class="active">
        <a href="{% url 'control' %}">
          <!-- <i class="nc-icon nc-pin-3"></i>-->
          <p>&emsp;&emsp;Control</p>
        </a>
      </li>
    </ul>
  </div>
  {% endblock %}

  {% block mainContents %}
    <div class="col-md-12">
        <h3 class="description">Your content here</h3>
      </div>
  {% endblock %}




