<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'paper_dashboard/templatebase.html' %}
{% load static %}

  {% block mainTitle %}
    Dashboard
  {% endblock %}

  {% block sidebar %}
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active">
          <a href="{% url 'dash' %}">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="{% url 'condition' %}">
            <!--<i class="nc-icon nc-diamond"></i>-->
            <p>&emsp;&emsp;Codition</p>
          </a>
        </li>
        <li>
          <a href="{% url 'control' %}">
            <!-- <i class="nc-icon nc-pin-3"></i> -->
            <p>&emsp;&emsp;Control</p>
          </a>
        </li>
      </ul>
    </div>

  {% endblock %}


  {% block mainContents %}
  <div class="row">
    <!-- 위젯1 -->
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-watch-time text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">System Uptime</p>
                <p class="card-title">{{sysUpDate}}<p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i>
            Update Now
          </div>
        </div>
      </div>
    </div>

    <!-- 위젯2 -->
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-vector text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Temperature</p>
                <p class="card-title">{{temperature}}ºC<p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i>
            Update Now
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h3 class="description">Your content here</h3>
    </div>
  </div>
{% endblock %}
